<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="./styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote App</title>
</head> 

<body>
    <div class="content">
        <div class="title">Pick your Favourite!</div>
        <form  method="post">
            <input type="submit" name="cats" value="Cats" class="myButton">
            OR
            <input type="submit" name="dogs" value="Dogs" class="myButton">
        </form>
    </div> 
</body>
</html>